[flake8]
exclude = .direnv,.git,__pycache__,.ropeproject,tmp
max-complexity = 10
max-line-length = 68
select = A,B,B9,C,E,F,W
ignore = B950,E203,E501,FI10,FI11,FI12,FI13,FI14,FI15,FI16,FI17,FI58,W503
require-code = true
